Repository norns-dev/norns: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, pyupgrade, isort, black, flake8, pylint

.pre-commit-config.yaml:

default_stages: [ pre-commit, post-checkout, post-merge ]
default_install_hook_types: [ pre-commit, post-checkout, post-merge ]
exclude: ^.idea/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # file type specific checks
      - id: check-yaml # verifies syntax of yaml files
      - id: check-json # verifies syntax of json files
      - id: pretty-format-json # fixes indentation of json files
        args: [ "--autofix", "--no-sort-keys" ]
      - id: check-toml # verifies syntax of toml files
      - id: check-executables-have-shebangs # verifies non-binary executables have shebang
      # general files
      - id: end-of-file-fixer # makes sure files end in a newline and only a newline.
      - id: trailing-whitespace # trims trailing whitespace.
      - id: check-case-conflict # check for files that would conflict on a case-insensitive filesystem
      - id: detect-private-key # checks for the existence of private keys
      - id: check-added-large-files # prevent giant files from being committed
        args: [ "--maxkb=2048" ]
      # python checks
      - id: name-tests-test # verifies that test files are named correctly
        args: [ "--pytest-test-first" ]
      - id: check-docstring-first # checks for code before the docstring
      - id: debug-statements # check for debugger imports and breakpoint calls in python source
      # git checks
      - id: no-commit-to-branch # protect specific branches from direct checkins
        args: [ "--branch", "main", "--branch", "develop", "--branch", "release/*" ]
        stages: [ pre-commit ]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      # python checks
      - id: python-no-eval # check for the eval() built-in function
      - id: python-no-log-warn # check for the deprecated .warn() method of python loggers
      # rst checks
      - id: rst-backticks # detect use of single backticks when writing rst
      - id: rst-directive-colons # detect rst directive formatting
      - id: rst-inline-touching-normal # detect inline code touching normal text in rst
  - repo: https://github.com/python-poetry/poetry
    rev: 1.7.1
    hooks:
      - id: poetry-check # checks poetry config is not broken
      - id: poetry-lock # ensures lock file is up-to-date
        args: [ "--no-update", "--no-cache" ] # Do not update locked versions, only refresh lock file.
      - id: poetry-export
        args: [ "--without-hashes", "-o", "requirements.txt", "-f", "requirements.txt"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint-fix
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        language: system
        types: [ python ]
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py311-plus
        language: system
        types: [ python ]
      - id: isort
        name: isort
        entry: poetry run isort .
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [ python ]
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [ python ]
      - id: pylint
        name: pylint
        entry: poetry run pylint -rn -sn
        language: system
        types: [ python ]
        exclude: ^.*/tests.py$
      - id: new-branch-setup
        name: new-branch-setup
        entry: poetry install --sync --with dev && rm db.sqlite3 && python migrate.py migrate
        language: system
        always_run: true
        stages:
          - post-checkout
          - post-merge

deploy: 2f06dc547fd0e6bcc2fd9d2a6e70656c5b7899f5
  .buildinfo
  .doctrees/environment.pickle
  .doctrees/index.doctree
  .nojekyll
  _sources/index.rst.txt
  _static/basic.css
  _static/debug.css
  _static/doctools.js
  _static/documentation_options.js
  _static/file.png
  _static/language_data.js
  _static/minus.png
  _static/plus.png
  _static/pygments.css
  _static/scripts/furo-extensions.js
  _static/scripts/furo.js
  _static/scripts/furo.js.LICENSE.txt
  _static/scripts/furo.js.map
  _static/searchtools.js
  _static/skeleton.css
  _static/sphinx_highlight.js
  _static/styles/furo-extensions.css
  _static/styles/furo-extensions.css.map
  _static/styles/furo.css
  _static/styles/furo.css.map
  genindex.html
  index.html
  objects.inv
  search.html
  searchindex.js
Due: none

Added to requirements
  norns/settings.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added to model
  parties/migrations/0005_alter_party_description.py
  parties/models.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Bumped version to 0.2.0
  docs/source/conf.py
  pyproject.toml
Due: bandit, pyupgrade, isort, black, flake8, pylint

Bumped version to 0.2.0 (#157)
  docs/source/conf.py
  pyproject.toml
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added django-markdownx to requirements
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

Added base settings
  norns/settings.py
  norns/urls.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added static files for django-markdownx
  staticfiles/empty.d41d8cd98f00.html
  staticfiles/empty.html
  staticfiles/markdownx/admin/css/markdownx.8125e2e04bc1.css
  staticfiles/markdownx/admin/css/markdownx.8125e2e04bc1.css.gz
  staticfiles/markdownx/admin/css/markdownx.css
  staticfiles/markdownx/admin/css/markdownx.css.gz
  staticfiles/markdownx/admin/css/markdownx.min.css
  staticfiles/markdownx/admin/css/markdownx.min.css.gz
  staticfiles/markdownx/admin/css/markdownx.min.dc409105d995.css
  staticfiles/markdownx/admin/css/markdownx.min.dc409105d995.css.gz
  staticfiles/markdownx/js/markdownx.30d4afaaed76.js
  staticfiles/markdownx/js/markdownx.30d4afaaed76.js.gz
  staticfiles/markdownx/js/markdownx.js
  staticfiles/markdownx/js/markdownx.js.gz
  staticfiles/markdownx/js/markdownx.min.d2d9650aa184.js
  staticfiles/markdownx/js/markdownx.min.d2d9650aa184.js.gz
  staticfiles/markdownx/js/markdownx.min.js
  staticfiles/markdownx/js/markdownx.min.js.gz
  staticfiles/staticfiles.json
Due: none

Changed party description to markdown field
  parties/models.py
  templates/parties/party_new.html
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added markdown rendering for party descriptions
  parties/models.py
  templates/parties/party_detail.html
  templates/parties/party_new.html
Due: bandit, pyupgrade, isort, black, flake8, pylint

Fixed failing test by making description mandatory
  parties/migrations/0005_alter_party_description.py
  parties/models.py
  parties/tests.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added django-markdownx for markdown rendering (#158)
  norns/settings.py
  norns/urls.py
  parties/migrations/0005_alter_party_description.py
  parties/models.py
  parties/tests.py
  poetry.lock
  pyproject.toml
  requirements.txt
  staticfiles/empty.d41d8cd98f00.html
  staticfiles/empty.html
  staticfiles/markdownx/admin/css/markdownx.8125e2e04bc1.css
  staticfiles/markdownx/admin/css/markdownx.8125e2e04bc1.css.gz
  staticfiles/markdownx/admin/css/markdownx.css
  staticfiles/markdownx/admin/css/markdownx.css.gz
  staticfiles/markdownx/admin/css/markdownx.min.css
  staticfiles/markdownx/admin/css/markdownx.min.css.gz
  staticfiles/markdownx/admin/css/markdownx.min.dc409105d995.css
  staticfiles/markdownx/admin/css/markdownx.min.dc409105d995.css.gz
  staticfiles/markdownx/js/markdownx.30d4afaaed76.js
  staticfiles/markdownx/js/markdownx.30d4afaaed76.js.gz
  staticfiles/markdownx/js/markdownx.js
  staticfiles/markdownx/js/markdownx.js.gz
  staticfiles/markdownx/js/markdownx.min.d2d9650aa184.js
  staticfiles/markdownx/js/markdownx.min.d2d9650aa184.js.gz
  staticfiles/markdownx/js/markdownx.min.js
  staticfiles/markdownx/js/markdownx.min.js.gz
  staticfiles/staticfiles.json
  templates/parties/party_detail.html
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added name to user profile
  accounts/models.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added migration
  accounts/migrations/0006_userprofile_name.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added name to user profile (#159)
  accounts/migrations/0006_userprofile_name.py
  accounts/models.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added blog post backend for parties
  parties/admin.py
  parties/migrations/0006_partyblogpost.py
  parties/models.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added view for blog post list
  parties/urls.py
  parties/views.py
  templates/parties/blog/party_blog_list.html
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added factories for testing
  poetry.lock
  pyproject.toml
Due: none

Reorganized urls into alphabetical order for easier test tracking
  parties/urls.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Reorganized tests into separate modules
  accounts/tests/__init__.py
  pages/tests/__init__.py
  pages/tests/test_home_page.py
  parties/tests/__init__.py
  parties/tests/test_party_delete.py
  parties/tests/test_party_detail.py
  parties/tests/test_party_edit.py
  parties/tests/test_party_list_joined.py
  parties/tests/test_party_list_owned.py
  parties/tests/test_party_new.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Removed redundant tests file
  parties/tests.py
Due: bandit, pyupgrade, isort, black, flake8

Sped up user login process in tests
  parties/tests/test_party_delete.py
  parties/tests/test_party_detail.py
  parties/tests/test_party_edit.py
  parties/tests/test_party_list_joined.py
  parties/tests/test_party_list_owned.py
  parties/tests/test_party_new.py
Due: bandit, pyupgrade, isort, black, flake8, pylint

Added pytest modules
  poetry.lock
  pyproject.toml
Due: none

Initial migration to pytest
  .github/workflows/PR-Checks.yml
  accounts/tests/factories.py
  conftest.py
  pyproject.toml
Due: bandit, pyupgrade, isort, black, flake8, pylint

Further migration to pytest
  poetry.lock
  pyproject.toml
Due: none

Moved test dependencies to test group
  .github/workflows/PR-Checks.yml
  poetry.lock
  pyproject.toml
Due: none

Improved flow for caching
  .github/workflows/PR-Checks.yml
Due: none

Exclude conftest from pylint
  .pre-commit-config.yaml
Due: none

Added new dep groups to poetry hook
  .pre-commit-config.yaml
Due: none

Started re-writing tests
  accounts/tests/factories.py
  conftest.py
  parties/tests/test_party_new.py
  pyproject.toml
Due: bandit, pyupgrade, isort, black, flake8, pylint
